--||▣▣▣ 팀관리
SELECT * FROM TEAM_MGR WITH(NOLOCK);
INSERT INTO TEAM_MGR( SEQ, TEAM_CD, TEAM_NM, USE_YN ) VALUES( NEXT VALUE FOR MUNDI.dbo.TEAM_MGR_S, 'TEST', N'테스트팀', 'Y' );

--||▣▣▣ 사용자 관리
SELECT * FROM USER_MGR WITH(NOLOCK);
INSERT INTO USER_MGR( SEQ, TEAM_SEQ, ROLE_CD, LOGIN_ID, LOGIN_PWD, USER_NM, WRK_ST_DT, USE_YN ) -- mundi!234
VALUES( NEXT VALUE FOR MUNDI.dbo.USER_MGR_S, '5', '3', 'develop', '13c8c1d4a69608b8226bd4199acc581b1c7edd85b46a973d2f3b055264380ad2', N'테스트계정', GETDATE(), 'Y' );