<html ng-app="myApp">  
    <head lang="ko">
        <meta charset="utf-8">
        <title>Getting Started With ngGrid Example</title>
        <!-- 공통 Resource -->  
        <link rel="stylesheet" type="text/css" href="../../css/ng-grid.css" />
        <script type="text/javascript" src="../../js/resource/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="../../js/resource/angular-1.2.17.js"></script>
        <script type="text/javascript" src="../../js/resource/ng-grid.debug.js"></script>
        
        <!-- 개별 Resource -->
        <link rel="stylesheet" type="text/css" href="../../css/test/grid-1.css" />        
        <script type="text/javascript" src="../../js/test/controller/grid-1.js"></script>
    </head>
    <body ng-controller="MyCtrl">
        <div class="gridStyle" ng-grid="gridOptions">
        </div>
    </body>
</html>