		<div ng-controller="ctrlGoalMgr">
			<div class="areaButton">
				<div class="menuTitle" style="margin-top: 0px;">
					<i class="fa fa-youtube-play"></i> 목표 관리
				</div>
				<div class="buttons">
					<button type="button" class="btn btn-default" ng-click="chkSearch()">
		        		조회
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="addRow()">
		        		행추가
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="delRow()">
		        		행삭제
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"" ng-click="chkSave()">
		        		저장
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"">
		        		양식다운로드
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"">
		        		엑셀업로드
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"
		    				ng-csv="excelData" 
		    				csv-header="getHeader()" 
		    				filename="goal.txt" 
		    				field-separator="," 
		    				decimal-separator="."
		    				>
		        		엑셀
		    		</button>
				</div>
			</div>
			
			<div class="areaSearch">
				년도 <select 
						ng-model="yyyy"
						style="height:27px;">
						<option ng-repeat="i in yyyyDataSelectBox" value="{{i.yyyy}}">{{i.yyyy}}</option>
						</select>
				&nbsp;&nbsp;&nbsp;
				팀 <select 
						ng-options="l.teamCd as l.teamNm for l in teamDataSelectBox"
						ng-model="searchTeamSeq"
						ng-cell-input
						style="height:27px;">
						<option value="" selected="selected">==ALL==</option>
						</select>
				&nbsp;&nbsp;&nbsp;
				제품그룹 <select
						ng-model="searchPrdgrpSeq"
						ng-options="l.seq as l.prdgrpNm for l in prdgrpDataSelectBox"
						ng-cell-input
						style="height:27px;">
						<option value="" selected="selected">==ALL==</option>
						</select>
				&nbsp;&nbsp;&nbsp;
				병원 <select
						ng-model="searchHosptSeq"
						ng-options="l.hosptCd as l.hosptNm for l in hosptDataSelectBox"
						ng-cell-input
						style="height:27px;">
						<option value="" selected="selected">==ALL==</option>
						</select>
				&nbsp;&nbsp;&nbsp;
				담당자명 <input type="text" maxlength="30" size="10" ng-model="searchUserNm"/>
			</div>
			
			<div class="areaGrid gridStyle1" ng-grid="grid">
			</div>
			
		</div>