		<div ng-controller="ctrlTeamMgr">
			<div class="areaButton">
				<div class="menuTitle">
					<i class="fa fa-youtube-play"></i> 팀 관리
				</div>
				<div class="buttons">
					<button type="button" class="btn btn-default" ng-click="chkTeamMgrSearch()">
		        		조회
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="addTeamMgrRow()">
		        		행추가
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="delTeamMgrRow()">
		        		행삭제
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="chkSaveTeamMgr()">
		        		저장
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="chkTeamMgrExcelDown()">
		        		엑셀
		    		</button>
				</div>
			</div>
			
			<div class="areaSearch">
				팀명 <input type="text" maxlength="30" size="10" ng-model="teamMgrSearchTeamNm"/>
			</div>
			
			<div class="areaGrid gridStyle1" ng-grid="gridTeamMgr">
			</div>
			
		</div>