		<div ng-controller="ctrlUserMgr">
			<div class="areaButton">
				<div class="menuTitle" style="margin-top: 0px;">
					<i class="fa fa-youtube-play"></i> 사용자 관리
				</div>
				<div class="buttons">
					<button type="button" class="btn btn-default" ng-click="chkUserMgrSearch()">
		        		조회
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="addUserMgrRow()">
		        		행추가
		    		</button>
		    		
		    		<button type="button" class="btn btn-default" ng-click="delUserMgrRow()">
		        		행삭제
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"" ng-click="chkSaveUserMgr()">
		        		저장
		    		</button>
		    		
		    		<button type="button" class="btn btn-default"">
		        		엑셀
		    		</button>
				</div>
			</div>
			
			<div class="areaSearch">
				이름 <input type="text" maxlength="30" size="10" ng-model="userSearchUserNm"/>
				&nbsp;&nbsp;&nbsp;
				아이디 <input type="text" maxlength="30" size="10" ng-model="userSearchLoginId"/>
				&nbsp;&nbsp;&nbsp;
				팀 <select 
						ng-options="l.teamCd as l.teamNm for l in teamDataSelectBox"
						ng-model="userSearchTeam"
						ng-cell-input
						style="height:27px;">
						<option value="" selected="selected">==ALL==</option>
						</select>
						<!--  
						-->
			</div>
			
			<div class="areaGrid gridStyle1" ui-grid-edit ng-grid="gridUserMgr">
			</div>
			
		</div>