<!DOCTYPE html>
<html style="height: 100%;">
<head>
	<meta charset="UTF-8">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="pragma" content="no-cache"/>
	
	<title>test</title>
	
	<link rel="stylesheet" type="text/css" media="screen" href="../css/common.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
	
</head>
<body>
	
	<header>
		Header
	</header>
	<nav>
		<div style="float: left; width: 100px;">공통업무</div>
		<div style="float: left; width: 100px;">본부운영</div>
		<div style="float: left; width: 100px;">물류운영</div>
		<div style="float: left; width: 100px;">점포운영</div>
		<div style="float: left; width: 100px;">POS관리</div>
		<div style="float: left; width: 100px;">시스템관리</div>
	</nav>
	
	<section id="section-menu">
		<ul>
			<li>공통정보</li>
			<li>&nbsp;&nbsp;&nbsp;통합코드등록</li>		
			<li>&nbsp;&nbsp;&nbsp;우편번호관리</li>		
			<li>&nbsp;&nbsp;&nbsp;세금정보관리</li>		
			<li>커뮤니티관리</li>		
			<li>&nbsp;&nbsp;&nbsp;공지사항</li>		
			<li>&nbsp;&nbsp;&nbsp;질문&답변</li>		
			<li>시스템메뉴정보</li>		
			<li>&nbsp;&nbsp;&nbsp;즐겨찾기조회</li>		
			<li>&nbsp;&nbsp;&nbsp;메인메뉴선택</li>
		</ul>
	</section>
	
	<section id="section-content">
		Content	
	</section>
	
	<footer>Footer</footer>
	
</body>
</html>